<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Website</title>
  <link rel="stylesheet" href="https://use.typekit.net/phe6enj.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body>
    <div class="top-section">
        <div class="custom-nav no-animation" id="mainNav">
            <a href="../../index.html"><img src="../../resources/img/ErinFelsRC.png" alt="Logo" height="50"></a>
            <div class="nav-links">
                <a href="../projects.html">Projects</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
    <div class="tabs-title">
        <h1>Current Projects</h1>
    </div>
    <div class="bottom-section">
        <div class="content-section">
            <img src="../../resources/img/ScarmblerDrawingREC2026.png" alt="Image" class="side-img">
            <div class="side-text">
                <h2>Ride Engineering Competition 2026:</h2>
                <p>CU TPED is currently completing our second entry to the Ride Engineering Compeition this year. This year I was chosen to be our Theming Electrical Lead, where I not only help creating and make design choices for the entire time but I have also had a hand in writing and creating code for the ride. My job was primarily to work with I2C and create interrupts that will help add our safety related systems. I also have been lead on the graphic design choices of the team from logos to final desicions of what the theme would be.</p>
            </div>
        </div>
        <div class="grid">
            <img src="../../resources/img/REC2026CircuitPros.jpeg" alt="Image" style="width: 80%; height: auto;">
            <div class="side-text">
                <p>Here is a circuit that I have been working on that was primarily working with just running interrupts with the MCP23008 I/O expander.</p>
            </div>
            <div class="video-container">
                <video width="100%" controls>
                <source src="../../resources/vid/REC2026ProsVid.mp4" type="video/mp4">
                </video>
            </div>
            <div class="side-text">
                <p>A protoype video of our ride in an unbuilt state.</p>
            </div>
        </div>
    </div>
      <script src="../../resources/js/cart.js"></script>
</body>
</html>