<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Website</title>
  <link rel="stylesheet" href="https://use.typekit.net/phe6enj.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="../../resources/css/style.css">
</head>

<body>
  <div class="top-section">
    <div class="custom-nav no-animation visible" id="mainNav">
      <a href="../../index.html"><img src="../..//resources/img/ErinFelsRC.png" alt="Logo" height="50"></a>
      <div class="nav-links">
        <a href="../projects.html">Projects</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </div>
  <div class="tabs-title">
    <h1>Redesign of Goodreads</h1>
  </div>
  <div class="bottom-section">
    <div style="display: flex; justify-content: center;">
      <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450"
        src="https://embed.figma.com/slides/sxbscr9PQP5mODjtXpAlOO/Goodreads-Redesign?node-id=1-42&embed-host=share"
        allowfullscreen>
      </iframe>
    </div>
    <div style="display: flex; justify-content: center;">
      <iframe style="border: 1px solid rgba(0, 0, 0, 0.1); transform: scale(0.7); transform-origin: top center;"
        width="500" height="1000"
        src="https://embed.figma.com/proto/IZCtpom8NQaHR1xI5znvIr/Redesign-of-Goodreads?node-id=92-207&page-id=92%3A155&embed-host=share&scaling=min-zoom&device=mobile"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</body>
</html>