<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Website</title>
  <link rel="stylesheet" href="https://use.typekit.net/phe6enj.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body>
    <div class="top-section">
        <div class="custom-nav no-animation" id="mainNav">
            <a href="../../index.html"><img src="../../resources/img/ErinFelsRC.png" alt="Logo" height="50"></a>
            <div class="nav-links">
                <a href="../projects.html">Projects</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
    <div class="tabs-title">
        <h1>Ride Engineering Competition 2026</h1>
    </div>
    <div class="bottom-section">
        <div class="video-container">
            <video width="40%" controls>
              <source src="../../resources/vid/REC2026RunningRide.mp4" type="video/mp4">
            </video>
          </div>
        <div class="content-section">
            <div class="side-text">
                <h2>About:</h2>
                <p>CU Theme Park Engineering and Design Club created the Sunnyside Scrambler to compete in the 2026 Ride Engineering Competition. The scrambler-themed scrambler is designed and documented in adherence with professional ride design standards including ASTM F2291. The team placed second in the west division out of 16 teams. This year I was chosen to be our Theming Electrical Lead, where I not only help creating and make design choices for the entire time but I have also had a hand in writing and creating code for the ride. My job was primarily to work with I2C and create interrupts that will help add our safety related systems. I also have been lead on the graphic design choices of the team from logos to final desicions of what the theme would be.</p>
            </div>
        </div>
        <div class="grid">
            <img src="../../resources/img/SunnysideCafeLogo.png" alt="Image" style="width: 80%; height: auto;">
            <div class="side-text">
                <p>I created the logo for our ride using Procreate and Adobe Creative Cloud. The inspiration for this design focused mainly on prexisting farm to table restaurants and breakfast cafes.</p>
            </div>
            <img src="../../resources/img/REC2026CircuitPros.jpeg" alt="Image" style="width: 80%; height: auto;">
            <div class="side-text">
                <p>Here is a circuit that I have been working on that was primarily working with just running interrupts with the MCP23008 I/O expander.</p>
            </div>
        </div>
        <div class="grid">
            <div class="video-container">
              <video width="100%" controls>
                <source src="../../resources/vid/REC2026ProsVid.mp4" type="video/mp4">
              </video>
            </div>
            <div class="side-text">
              <p>A prototype video of our ride in an unbuilt state.</p>
            </div>
            <div class="video-container">
              <video width="100%" controls>
                <source src="../../resources/vid/REC2026PrototypeVid.MP4" type="video/mp4">
              </video>
            </div>                        
            <div class="side-text">
              <p>A prototype video of our ride running and testing the motors...</p>
            </div>
          </div>
        <div class="video-container">
            <video width="100%" controls>
                <source src="../../resources/vid/REC 2026 TOPs V3.mp4" type="video/mp4">
            </video>
          </div>
        <div class="captions">
            <p>Video created by Liam Cox and voiced by Ian Mcleod.</p>
        </div>
    </div>
      <script src="../../resources/js/cart.js"></script>
</body>
</html>