<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Website</title>
    <link rel="stylesheet" href="https://use.typekit.net/phe6enj.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>

<body>
    <div class="top-section">
        <div class="custom-nav no-animation visible" id="mainNav">
            <a href="../../index.html"><img src="../..//resources/img/ErinFelsRC.png" alt="Logo" height="50"></a>
            <div class="nav-links">
                <a href="../projects.html">Projects</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
    <div class="tabs-title">
        <h1>ShadeShelf</h1>
    </div>
    <div class="bottom-section">
        <div class="content-section">
            <div class="container my-5">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <img src="../../resources/img/SSPhoto.jpg" alt="ShadeShelf Image"
                            style="width: 80%; height: auto; border-radius: 10px;">
                    </div>
                    <div class="col-md-6 text-start">
                        <div class="side-text">
                            <h2>About:</h2>
                            <p>My freshman year I took a class called FORM, a class based around 3D modeling, animation,
                                printing and documentation. For our final project, I chose the prompt, "solve a
                                problem." The
                                problem I had was that I didn't have enough room on my desk for sunglasses. I had too
                                many and no
                                place to put them so, I created an organizer where not only could I shelf my sunglasses
                                but also try
                                them on, hold my keys and other knick knacks. I started the process 3D modeling what my
                                project
                                was and then planning on how I would fabricate it. I chose to laser cut and then use
                                wood glue to
                                connect the shelves and the mirrored acrylic to the baseboard. The baseboard was 3
                                sheets of wood
                                that I was able to screw together. This project turned out really nice, although I would
                                work
                                through a couple more iterations before I use it. For instance, I would redo some of the
                                shelves and make
                                sure the laser cutter cuts on the first pass. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 align-items-center justify-content-center text-center">
            <div class="col-4">
                <img src="../../resources/img/SSProto.jpeg" alt=""
                    style="width: 80%; border-radius: 10px;">
                <p class="captions text-center">Laser cut back of ShadeShelf</p>
            </div>
            <div class="col-4">
                <img src="../../resources/img/SSFullModel.jpeg" alt=""
                    style="width: 80%; border-radius: 10px;">
                <p class="captions text-center">Full model of the ShadeShelf</p>
            </div>
            
            <div class="col-4">
                <img src="../../resources/img/SSLaserPhoto.jpeg" alt=""
                    style="width: 80%; border-radius: 10px;">
                <p class="captions text-center">ShadeShelf being laser cut</p>
            </div>
        </div>
        <div class="row mt-5 align-items-center justify-content-center text-center">
            <div class="col-4">
                <img src="../../resources/img/SSMeasurements.jpeg" alt=""
                    style="width: 80%; border-radius: 10px;">
                <p class="captions text-center">Sketch book layout and measurements</p>
            </div>
            <div class="col-4">
                <img src="../../resources/img/SSShelfModel.jpeg" alt=""
                    style="width: 80%;border-radius: 10px;">
                <p class="captions text-center">SketchUp model of the Shelf</p>
            </div>
            <div class="col-4">
                <img src="../../resources/img/SSSketches.jpeg" alt=""
                    style="width: 80%;  border-radius: 10px;">
                <p class="captions text-center">Inital sketch book ideation </p>
            </div>
        </div>
    </div>
</body>

</html>